---
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sobre meu projeto</title>
	</head>
	<body>
		<div>
			<a href="/testes-astro/">Home</a>
			<a href="">About</a>
			<a href="/testes-astro/blog">Blog</a>
		</div>

		<div>
			<h1>Sobre</h1>
			<p>Meu primeiro site no Astro, estou aproveitando para melhorar minhas habilidades em HTML e CSS!</p>
			<hr>

		</div>

	</body>
</html>
