---
import './styles/global.css';
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sobre meu projeto</title>
	</head>
	<body>
		<div class="header">
			<a class="headerText" href="/testes-astro/">Home</a>
			<a class="headerText" href="/testes-astro/about/">About</a>
			<a class="headerText" href="">Blog</a>
		</div>

		<div>
			<h1>Blog</h1>
			<p>Este é meu blog</p>
		</div>
		<div>
			<ul>
				<li><a class="post" href="/testes-astro/posts/post-1">Post 1</a></li>
				<li><a class="post" href="/testes-astro/posts/post-2">Post 2</a></li>
				<li><a class="post" href="/testes-astro/posts/post-3">Post 3</a></li>
			</ul>
		</div>

	</body>
</html>
