---
const pageTitle = "Primeiro Site Astro"
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div>
			<a href="">Home</a>
			<a href="/testes-astro/about/">About</a>
			<a href="/testes-astro/blog/">Blog</a>
		</div>
		<div>
			<h1>Astro</h1>
			<h2>Meu deus mais um framework mano</h2>
		</div>
	</body>
</html>
